
.Muschi figure {
  width: 100%;
  background-color: rgba(255, 0, 0, 0);
  min-height: 110vh;
  /* border-bottom: 1px solid rgba(255, 255, 255, .5); */
  padding: 2rem;
  margin-top: 50px;
}

.Muschi figure:nth-child(1){
  min-height: 100vh;
    margin-top: 0px;
}

.Muschi article {
  display: flex;
  justify-content: space-between;
}

.li_w_span {
  display: flex;  align-items: center; gap: 5px;
}

.Muschi span {
  background-color: rgb(76, 76, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  aspect-ratio: 1/1;
  font-weight: bold;
}

#ceeste_muschi{
  display: flex;
  flex-direction: column;
}

#ceeste_muschi .close_panel{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 0, 0, 0);
}

.muschi_panel {
  background-color: rgba(0, 0, 0, 0.1);
  width: 40%;
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
  padding: 10px 20px;
  border-radius: 20px;
  min-height: 35vh;
  overflow: hidden;
  margin-bottom: 250px;
  margin-right: -10px;
  backdrop-filter: blur(8px);
  transition: transform 0.25s ease;
  z-index: 99999;
}

#muschi_panel_visible {
  transform: translateX(0px);
}

#muschi_panel_hidden {
  transform: translateX(150%);
}

.muschi_panel i{
  position: absolute;
  right: 0px;
  top: 0px;
  background-color: rgba(255, 0, 0, 0);
  width: 30px;
  aspect-ratio: 1/1;
  cursor: pointer;
  margin: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.muschi_panel i:hover{
  background-color: rgba(255, 0, 0, 0.8);
}


.muschi_panel button {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  margin: 0px;
  border-radius: 0px;
  background-color: rgba(76, 76, 255, 1);
  background: linear-gradient(90deg, #7f5fff 0%, #4c4cff 100%);
  transition: all 0.3s ease;
  padding: 15px 0px;
}

.muschi_panel button:hover {
  background-position: 100% 0;
  background-size: 200% 100%;
}

#structura_muschiului article {
  flex-direction: column;
  gap: 55px;
  max-width: 30%;
}

#structura_muschiului ul li:nth-child(4) {
  list-style: none;
  margin-left: 0px;
  width: 100%;
  margin-top: 10px;
}

#structura_muschiului button {
  padding: 8px 16px;
  background-color: rgba(76, 76, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px); color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  transition: all 0.3s ease;
}

#structura_muschiului #struct_btn_selected {
  background-color: rgba(76, 76, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0);
}

#structura_muschiului button:hover {
  background-color: rgba(76, 76, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0);
}

#structura_muschiului button:active {
  transform: scale(0.9);
  box-shadow: 0 0 8px rgba(76, 76, 255, 0.4);
}


#cumapare ol {
  max-width: 30%;
}

#cumapare ol li:nth-child(6) {
  list-style: none;
  margin-left: 0px;
  width: 100%;
  margin-top: 10px;
}

#cumapare button {
  padding: 8px 16px;
  background-color: rgba(76, 76, 255, 0);
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(6px); color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
  transition: all 0.3s ease;
}

#cumapare #struct_btn_selected {
  background-color: rgba(76, 76, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0);
}

#cumapare button:hover {
  background-color: rgba(76, 76, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0);
}

#cumapare button:active {
  transform: scale(0.9);
  box-shadow: 0 0 8px rgba(76, 76, 255, 0.4);
}

#forta_musculara ul{
  max-width: 40%;
}

#forta_musculara h3:nth-child(5) {
  margin-top: 10px;
}

#forta_musculara input {
  width: 100%;
}